h1 {
    font-family: "Roboto Condensed", sans-serif;
    text-align: center;
    padding: 10px;
    color: white;
    background-color: black;
    text-decoration: underline;
    font-size: 40px;
    transition-duration: 200ms;
}

#content {
    margin: auto;
    width: 600px;
    padding: 20px;
    border: 3px solid black;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 600;
    border-radius: 9px;
    background-color: white;
    transition-duration: 200ms;
}

body {
    text-align: justify;
}

img {
    max-width: 15%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 20px;
    margin: auto;
}

h1:hover {
    color: black;
    background-color: white;
    transition-duration: 200ms;
}

#spanomu {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

h2 {
    text-align: center;
    margin: auto;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 10px;
}

#content:hover{
    color: white;
    background-color: black;
    transition-duration: 200ms;
    border: 3px solid white;
}